body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition */
}

.slide {
    min-width: 100%;
}

.slide img {
    width: 100%;
    border-radius: 10px;
}

.dots-container {
    text-align: center;
    padding-top: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb; /* Gray color */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171; /* Darker gray for active dot */
}

.dot:hover {
    background-color: #555; /* Darker on hover */
}
