body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.accordion {
    width: 80%;
    max-width: 600px;
    background: #e2eaeb;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    background: #f7f7f7;
    transition: background 0.3s;
}
.accordion-header:hover {
    background: #eaeaea;
}
.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background: #d59f9f;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content p {
    margin: 15px 0;
}
.arrow {
    transition: transform 0.3s ease;
}
.arrow.open {
    transform: rotate(180deg);
}
